h1 {
    color: aliceblue;
    background-color: #343A40;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
}

h2 {
    border-bottom: 3px solid black;
    padding: 5px;
    background-color: #00bdaa;
}

h3 {
    padding-left: 10px;
}

table,
th,
td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: #116979;
    color: aliceblue;
}

img {
    width: 100%;
}
